<div class="container">
 <i><h1>Cool Quotes</h1></i> <br>
 <p>Get to know some of your favourite people's quotes</p>
  <div class="row">
    <hr>
    <div class="container add-quote">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <div class="col-md-12">
      
      <hr>
      <ul>
        <div *ngFor="let quote of quotes;let i = index">
          <div *ngIf='quote.upvote==highest();then highlight else empty'>

          </div>
          <ng-template #highlight>
            <li appHighestUpvote >
              <h2> " {{ quote.quote }} "</h2> <small class="mb-10">{{ quote.createDate |dayCount }} days ago</small> <br>
                <div class="mt-2">
                  <button class="btn btn-success" (click)="upVote(i)">Upvote : {{ quote.upvote }}<span class="mdi mdi-thumb-up"></span></button>&nbsp;&nbsp;
                  <button class="btn btn-outline-danger" (click)="downVote(i)">Downvote : {{ quote.downvote }}<span class="mdi mdi-thumb-down"></span></button>
                </div>
                <br>
                <button class="btn btn-outline-success mt-3" (click)="showDetails(i)" >Show Details &nbsp;<span class="mdi mdi-format-list-group"></span></button>
                <app-quote-details *ngIf="quote.showDetails" [quote]="quote" (isComplete)="deleteQuote($event,i)"></app-quote-details>
            </li>
            <hr>
          </ng-template>
          <ng-template #empty>
            <li>
              <h2> " {{ quote.quote }}"</h2> <small class="mb-10">{{ quote.createDate |dayCount }} days ago</small> <br>
              <div class="mt-2">
                <button class="btn btn-success" (click)="upVote(i)">Upvote : {{ quote.upvote }}<span class="mdi mdi-thumb-up"></span></button>&nbsp;&nbsp;
                <button class="btn btn-outline-danger" (click)="downVote(i)">Downvote : {{ quote.downvote }}<span class="mdi mdi-thumb-down"></span></button>
              </div><br>
                <button class="btn btn-outline-success mt-3" (click)="showDetails(i)" >Show Details &nbsp; <span class="mdi mdi-format-list-group"></span></button>
                <app-quote-details *ngIf="quote.showDetails" [quote]="quote" (isComplete)="deleteQuote($event,i)"></app-quote-details>
            </li>
            <hr>
          </ng-template>

        </div>
      </ul>    
    </div>
  </div>
</div>
