<div>
  <h1>My Quotess</h1>
  <hr>
  <ul>
    <div *ngFor="let quote of quotes;let i = index">
      <li>
        <h2> " {{ quote.quote }} "</h2>
          <button class="btn btn-success" (click)="upVote(i)">Upvote : {{ quote.upvote }}</button>&nbsp;&nbsp;
          <button class="btn btn-outline-danger" (click)="downVote(i)">Down : {{ quote.downvote }}</button><br>
          <button class="btn btn-outline-success mt-3" (click)="showDetails(i)" >Show Details</button>
          <app-quote-details *ngIf="quote.showDetails" [quote]="quote" (isComplete)="completeQuote($event,i)"></app-quote-details>
      </li>
    </div>
  </ul>
</div>
