<div class="container-fluid">
  <h1 class="text-center">Create a new Quote</h1>
  <hr>
  <form #quoteForm ='ngForm'>
    <div class="form-group">
      <label for="description">Quote</label>
      <textarea class="form-control" id="quote"  rows="4" required></textarea>
  </div>
  <div class="form-group">
      <label for="name">Author</label>
      <input type="text" required class="form-control" [(ngModel)]="newQuote.author" id="author">
  </div>
  <div class="form-group">
    <label for="name">Added By</label>
    <input type="text" required class="form-control" id="name">
  </div>
  <button type="submit" class="btn btn-info" >Submit Quote</button>
  </form>
</div>
